{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "rules": {
    "semi": 2,
    "quotes": [
      1,
      "single"
    ],
    "no-underscore-dangle": 0,
    "no-process-exit": 0,
    "camelcase": 0,
    "complexity": [
      1,
      10
    ],
    "no-eq-null": 1,
    "radix": 1,
    "indent": 0,
    "brace-style": [
      2,
      "1tbs",
      {"allowSingleLine": false}
    ],
    "no-multiple-empty-lines": [
      1,
      {"max": 1}
    ],
    "new-cap": 0,
    "no-shadow": 0
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Ext": true,
    "R": true,
    "Glyphs": true,
    "Common": true,
    "DB": true,
    "log": true,
    "io": true,
    "sails": true,
    "Settings": true,
    "window": true,
    "RV": true,
    "Locales": true,
    "UTIL": true,
    "SMTP": true,
    "RM": true,
    "MAIL": true,
    "LDAP": true,
    "IM": true,
    "CRON": true,
    "CM": true,
    "AM": true,
    "moment": true,
    "Document": true
  }
}